.menu{
    position: absolute;
    width: 459px;
    height: 670px;
    left: 0px;
    top: 0px;
    background: #1E213A;
}
.section{
    position: absolute;
    width: 892px;
    height: 670px;
    left: 459px;
    top: 0px;
    background: #100E1D;
}
.btn-c{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 703px;
    top: 42px;
    background: #E7E7EB;
    border-radius: 54px;
    border:none;
    cursor: pointer;
}

.btn-f{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 755px;
    top: 42px;
    background: #585676;
    border-radius: 54px;
    border: none;
    cursor: pointer;
    color: white;
}

.card-first{
    width: 110px;
    height: 147px;
    color: white;
    background: #1E213A;

    background: #1E213A;
}
.footer{
    position: absolute;
    width: 100%;
    height: 17px;
    top: 641px;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A09FB1;
}
.btn-search{
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    line-height: 19px;
    width: 161px;
    height: 40px;
    left: 46px;
    top: 42px;
    color: white;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-gps{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 373px;
    top: 42px;
    border: none;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon-gps{
    color: white;
    font-size: 20px;
}
.clima-icon{
    position: absolute;
    width: 202px;
    height: 164px;
    left: 129px;
    top: 191px;
}
.card-info{
    position: absolute;
    width: 192px;
    height: 149px;
    left: 119px;
    top: 352px;
    font-family: 'Raleway';
    line-height: 169px;
    background-color: #1E213A;
}
.card-info .text-title{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 500;
}
.text-data{
    position: absolute;
    width: 129px;
    height: 42px;
    left: 147px;
    top: 500px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}
.info-date{
    position: absolute;
    width: 95%;
    top: 570px;
    font-style: normal;
    text-align: center;
    color: #88869D;
    text-align: center;
    bottom: 10px;
}

.cloud-1{
    position: absolute;
    width: 248px;
    height: 183px;
    left: -61px;
    top: 266px;
    color: gray;
    font-size: 100px;
}
.cloud-2{
    position: absolute;
    width: 203px;
    height: 150px;
    left: -59px;
    top: 103px;
    color: gray;
    font-size: 100px;
}
.cloud-3{
    position: absolute;
    width: 147px;
    height: 129px;
    left: 373px;
    top: 370px;
    color: gray;
    font-size: 90px;
}
.cloud-4{
    position: absolute;
    width: 203px;
    height: 150px;
    left: 356px;
    top: 116px;
    color: gray;
    font-size: 100px;
}

#btn-menu{
    display:none;
}

/* 
@media screen and (max-width: 768px){
    .content{
        width: 100%;
        display: block;
    }
    .menu{
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .section{
        position: absolute;
        top: 1162px;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
    }
    .btn-c{
        display: none;
    }
    .btn-f{
        display: none;
    }
    .cloud-1{
        position: absolute;
        width: 215.02px;
        height: 158.66px;
        left: -111px;
        top: 260.32px;
    }

    .cloud-2{
        position: absolute;
        width: 176.01px;
        height: 130.05px;
        left: -71.93px;
        top: 98px;
    }
    .cloud-3{
        position: absolute;
        width: 127.45px;
        height: 94.51px;
        left: 675.29px;
        top: 289.49px;

    }
    .cloud-4{
        position: absolute;
        width: 176.01px;
        height: 130.05px;
        left: 596.56px;
        top: 79.27px;
    }
    .btn-search{
        position: absolute;
        width: 161px;
        height: 40px;
        left: 11px;
        top: 18px;
    }

    .btn-gps{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 710px;
        top: 18px;
    }
    .clima-icon{
        position: absolute;
        width: 250px;
        height: 244px;
        left: 270px;
        top: 130px;
        /* border: 1px solid  red; */
        /* margin: auto; */
    /* }
    .card-info{
        position: absolute;
        width: 250px;
        height: 244px;
        left: 270px;
        top: 410px;
        /* border: 1px solid  red; */
        /* margin: auto;

    }
    .container-menu{
        width: 100%;
        height: 100vh;
    }
    .cont-menu{
        width: 100%;
        height: 100vh;
    }
    .form{
        width: 94%;
        height: 48px;
        margin-left: 39px;
    }
    .info-menu{
        width: 94%;
        height: 48px;
    }
    .info-menu li{
        width: 94%;
        height: 48px;
    }
}   */