.menu{
    position: absolute;
    width: 459px;
    height: 670px;
    left: 0px;
    top: 0px;
    background: #1E213A;
}
.section{
    position: absolute;
    width: 892px;
    height: 670px;
    left: 459px;
    top: 0px;
    background: #100E1D;
}
.btn-c{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 703px;
    top: 42px;
    background: #E7E7EB;
    border-radius: 54px;
    border:none;
    cursor: pointer;
}

.btn-f{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 755px;
    top: 42px;
    background: #585676;
    border-radius: 54px;
    border: none;
    cursor: pointer;
    color: white;
}

.card-first{
    width: 110px;
    height: 147px;
    color: white;
    background: #1E213A;

    background: #1E213A;
}
.footer{
    position: absolute;
    width: 100%;
    height: 17px;
    top: 641px;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A09FB1;
}
.btn-search{
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    line-height: 19px;
    width: 161px;
    height: 40px;
    left: 46px;
    top: 42px;
    color: white;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-gps{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 373px;
    top: 42px;
    border: none;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon-gps{
    color: white;
    font-size: 20px;
}
.clima-icon{
    position: absolute;
    width: 202px;
    height: 164px;
    left: 129px;
    top: 191px;
}
.card-info{
    position: absolute;
    width: 192px;
    height: 149px;
    left: 119px;
    top: 352px;
    font-family: 'Raleway';
    line-height: 169px;
    background-color: #1E213A;
}
.card-info .text-title{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 500;
}
.text-data{
    position: absolute;
    width: 129px;
    height: 42px;
    left: 147px;
    top: 500px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}
.info-date{
    position: absolute;
    width: 95%;
    top: 570px;
    font-style: normal;
    text-align: center;
    color: #88869D;
    text-align: center;
    bottom: 10px;
}

.cloud-1{
    position: absolute;
    width: 248px;
    height: 183px;
    left: -61px;
    top: 266px;
    color: gray;
    font-size: 100px;
}
.cloud-2{
    position: absolute;
    width: 203px;
    height: 150px;
    left: -59px;
    top: 103px;
    color: gray;
    font-size: 100px;

}
.cloud-3{
    position: absolute;
    width: 147px;
    height: 129px;
    left: 373px;
    top: 370px;
    color: gray;
    font-size: 90px;


}
.cloud-4{
    position: absolute;
    width: 203px;
    height: 150px;
    left: 356px;
    top: 116px;
    color: gray;
    font-size: 100px;

}

#btn-menu{
    display:none;
}
.container-menu{
    position: absolute;
    background-color: #1E213A;
    width: 459px;
    height: 670px;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 460px;
    position: relative;
    transition: all 500ms ease;
    height: 590px;
    top: 80px;
    transition: all 500ms ease;
    transform: translateX(-9%);
    
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0);
}
.cont-menu .info-menu{
    transform: rotateY(20%);
    width: 460px;
}
.cont-menu .info-menu li{
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    padding: 18px;
    width: 75%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0.5em;
    margin-left: 47px;
    margin-top: 20px;
    transition: all 400ms ease;
    color: #E7E7EB;
}
.cont-menu .info-menu li:hover{
    border: 1px solid #616475;

}
.form{
    width: 350px;
    height: 48px;
    margin-left: 39px;
}
.input-search{
    background-color: #1E213A;
    border: gray 1px solid gray;
    color: white
}
.container-menu label{
    position: absolute;
    right: 22px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.content-card{
    position:absolute;
    width: 80%;
    height: 150px;
    top: 140px;
    left: 92px;
}
.card .card-body p{
    font-size: 13px;
}
.img-tiempo{
    width: 100%;
    text-align: center;
}
.temperature{
    width: 100%;
    text-align: center;
    padding: 6px;
    margin-top: 4px;
}
h5{
    padding: 4px;
}
.section-today{
    color:white;
    position: absolute;
    width: 80%;
    left: 82px;
    top: 324px;
    height: 300px;
}
.container-tarjeta{
    width: 100%;
    height: 100%;
}
.tarjeta-left-one{
    float: left;
    width: 45%;
    height: 120px;
    left: 613px;
    top: 457px;
    background: #1E213A;
}
.tarjeta-right-one{
    position: absolute;
    width: 45%;
    height: 120px;
    left: 382px;
    top: 38px;
    background: #1E213A;
}
.tarjeta-left-two{
    position: absolute;
    width: 45%;
    height: 109px;
    left: 0px;
    top: 178px;
    background: #1E213A;
}
.tarjeta-right-two{
    position: absolute;
    width: 45%;
    height: 109px;
    left: 382px;
    top: 178px;
    background: #1E213A;
}

.tarjeta-text{
    text-align: center;
    padding: 2px;
    color: #E7E7EB;
}
.tarjeta-subt{
    font-size: 30px;
    color: white;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px){
    .content{
        width: 100%;
        display: block;
    }
    .menu{
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .section{
        position: absolute;
        top: 1162px;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
    }
    .btn-c{
        display: none;
    }
    .btn-f{
        display: none;
    }
    .cloud-1{
        position: absolute;
        width: 215.02px;
        height: 158.66px;
        left: -111px;
        top: 260.32px;
    }

    .cloud-2{
        position: absolute;
        width: 176.01px;
        height: 130.05px;
        left: -71.93px;
        top: 98px;
    }
    .cloud-3{
        position: absolute;
        width: 127.45px;
        height: 94.51px;
        left: 675.29px;
        top: 289.49px;

    }
    .cloud-4{
        position: absolute;
        width: 176.01px;
        height: 130.05px;
        left: 596.56px;
        top: 79.27px;
    }
    .btn-search{
        position: absolute;
        width: 161px;
        height: 40px;
        left: 11px;
        top: 18px;
    }

    .btn-gps{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 710px;
        top: 18px;
    }
    .clima-icon{
        position: absolute;
        width: 250px;
        height: 244px;
        left: 270px;
        top: 130px;
        /* border: 1px solid  red; */
        margin: auto;
    }
    .card-info{
        position: absolute;
        width: 250px;
        height: 244px;
        left: 270px;
        top: 410px;
        /* border: 1px solid  red; */
        margin: auto;

    }
    .container-menu{
        width: 100%;
        height: 100vh;
    }
    .cont-menu{
        width: 100%;
        height: 100vh;
    }
    .form{
        width: 94%;
        height: 48px;
        margin-left: 39px;
    }
    .info-menu{
        width: 94%;
        height: 48px;
    }
    .info-menu li{
        width: 94%;
        height: 48px;
    }
}